
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard basic</title>

    <!-- Styles -->
    <link rel="stylesheet" href="./assets/css/dashboard-basic.css">
</head>
<body>
    <div class="dash">
        
        <div class="dash--aside-left">
            <menu-basic-vertical-01-wc></menu-basic-vertical-01-wc>
        </div>

        <div class="dash--body">

            <div class="dash--menu">
                <menu-basic-01-wc></menu-basic-01-wc>
            </div>

            <div class="dash--main">
                Main
            </div>

        </div>
    </div>


    <!-- Dashboard 01 -->
    <template id="dashboard-01">
        <div>
            <h2> DASHBOARD 01 </h2>
        </div>
    </template>

    <!-- Components -->
    <script src="./components/menu-basic-01-wc.js"></script>
    <script src="./components/menu-basic-vertical-01-wc.js"></script>
</body>
</html>