
/* PROPS BASE */

/* ========================= MARGINS ============================ */
/* MARGIN AUTO */
.marginAuto {margin: auto;}

/* MARGIN ALL */
.margin1 {margin: .2rem;}
.margin2 {margin: .4rem;}
.margin3 {margin: .7rem;}
.margin4 {margin: 1.1rem;}
.margin5 {margin: 1.6rem;}
.margin6 {margin: 2.2rem;}
.margin7 {margin: 2.9rem;}
.margin8 {margin: 3.7rem;}
.margin9 {margin: 4.6rem;}
.margin10 {margin: 5.6rem;}

/* MARGIN X - MARGIN EJE X */
.marginX1 {margin-left: .2rem; margin-right: .2rem;}
.marginX2 {margin-left: .4rem; margin-right: .4rem;}
.marginX3 {margin-left: .7rem; margin-right: .7rem;}
.marginX4 {margin-left: 1.1rem; margin-right: 1.1rem;}
.marginX5 {margin-left: 1.6rem; margin-right: 1.6rem;}
.marginX6 {margin-left: 2.2rem; margin-right: 2.2rem;}
.marginX7 {margin-left: 2.9rem; margin-right: 2.9rem;}
.marginX8 {margin-left: 3.7rem; margin-right: 3.7rem;}
.marginX9 {margin-left: 4.6rem; margin-right: 4.6rem;}
.marginX10 {margin-left: 5.6rem; margin-right: 5.6rem;}


/* ======================== PADDING ============================== */
/* PADDING ALL */
.padding1 {padding: .1rem;}
.padding2 {padding: .2rem;}
.padding3 {padding: .3rem;}
.padding4 {padding: .4rem;}
.padding5 {padding: .5rem;}
.padding6 {padding: .6rem;}
.padding7 {padding: .7rem;}
.padding8 {padding: .8rem;}
.padding9 {padding: .9rem;}
.padding10 {padding: 1rem;}
.padding11 {padding: 1.1rem;}
.padding12 {padding: 1.2rem;}
.padding13 {padding: 1.3rem;}
.padding14 {padding: 1.4rem;}
.padding15 {padding: 1.5rem;}
.padding16 {padding: 1.6rem;}
.padding17 {padding: 1.7rem;}
.padding18 {padding: 1.8rem;}
.padding19 {padding: 1.9rem;}
.padding20 {padding: 2rem;}


/* ========================= RADIUS ============================= */
/* RADIUS ALL */
.radius1 {border-radius: .3rem;}
.radius2 {border-radius: .6rem;}
.radius3 {border-radius: .9rem;}
.radius4 {border-radius: 1.2rem;}
.radius5 {border-radius: 1.5rem;}
.radius6 {border-radius: 1.8rem;}

/* RADIUS TL - TOP LEFT*/
.radiusTL1 {border-top-left-radius: .3rem;}
.radiusTL2 {border-top-left-radius: .6rem;}
.radiusTL3 {border-top-left-radius: .9rem;}
.radiusTL4 {border-top-left-radius: 1.2rem;}
.radiusTL5 {border-top-left-radius: 1.5rem;}
.radiusTL6 {border-top-left-radius: 1.8rem;}

/* RADIUS TL - TOP RIGHT*/
.radiusTR1 {border-top-right-radius: .3rem;}
.radiusTR2 {border-top-right-radius: .6rem;}
.radiusTR3 {border-top-right-radius: .9rem;}
.radiusTR4 {border-top-right-radius: 1.2rem;}
.radiusTR5 {border-top-right-radius: 1.5rem;}
.radiusTR6 {border-top-right-radius: 1.8rem;}

/* RADIUS BL - TOP LEFT*/
.radiusBL1 {border-bottom-left-radius: .3rem;}
.radiusBL2 {border-bottom-left-radius: .6rem;}
.radiusBL3 {border-bottom-left-radius: .9rem;}
.radiusBL4 {border-bottom-left-radius: 1.2rem;}
.radiusBL5 {border-bottom-left-radius: 1.5rem;}
.radiusBL6 {border-bottom-left-radius: 1.8rem;}

/* RADIUS BR - TOP RIGHT*/
.radiusBR1 {border-bottom-right-radius: .3rem;}
.radiusBR2 {border-bottom-right-radius: .6rem;}
.radiusBR3 {border-bottom-right-radius: .9rem;}
.radiusBR4 {border-bottom-right-radius: 1.2rem;}
.radiusBR5 {border-bottom-right-radius: 1.5rem;}
.radiusBR6 {border-bottom-right-radius: 1.8rem;}


/* ========================= SHADOW ============================= */
.shadowTR1 {box-shadow: 1px -2px 1px 1px rgba(0, 0, 0, 0.1);}
.shadowTR2 {box-shadow: 2px -3px 1px 1px rgba(0, 0, 0, 0.1);}
.shadowTL1 {box-shadow: -1px -2px 1px 1px rgba(0, 0, 0, 0.1);}
.shadowTL2 {box-shadow: -2px -3px 1px 1px rgba(0, 0, 0, 0.1);}
.shadowBR1 {box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);}
.shadowBR2 {box-shadow: 2px 3px 1px 1px rgba(0, 0, 0, 0.1);}
.shadowBL1 {box-shadow: -1px 2px 1px 1px rgba(0, 0, 0, 0.1);}
.shadowBL2 {box-shadow: -2px 3px 1px 1px rgba(0, 0, 0, 0.1);}


/* ========================= TEXT ALING ============================ */



/* BG COLORS */

/* BACKGROUND COLOR CSS - CLASS */

/* Red */
.bgRed50 {background-color: #ffebee;}
.bgRed100 {background-color: #ffcdd2;}
.bgRed200 {background-color: #ef9a9a;}
.bgRed300 {background-color: #e57373;}
.bgRed400 {background-color: #ef5350;}
.bgRed500 {background-color: #f44336;}
.bgRed600 {background-color: #e53935;}
.bgRed700 {background-color: #d32f2f;}
.bgRed800 {background-color: #c62828;}
.bgRed900 {background-color: #b71c1c;}
.bgRedA100 {background-color: #ff8a80;}
.bgRedA200 {background-color: #ff5252;}
.bgRedA400 {background-color: #ff1744;}
.bgRedA700 {background-color: #d50000;}

/* Pink */
.bgPink50 {background-color: #fce4ec;}
.bgPink100 {background-color: #f8bbd0;}
.bgPink200 {background-color: #f48fb1;}
.bgPink300 {background-color: #f06292;}
.bgPink400 {background-color: #ec407a;}
.bgPink500 {background-color: #e91e63;}
.bgPink600 {background-color: #d81b60;}
.bgPink700 {background-color: #c2185b;}
.bgPink800 {background-color: #ad1457;}
.bgPink900 {background-color: #880e4f;}
.bgPinkA100 {background-color: #ff80ab;}
.bgPinkA200 {background-color: #ff4081;}
.bgPinkA400 {background-color: #f50057;}
.bgPinkA700 {background-color: #c51162;}

/* Purple */
.bgPurple50 {background-color: #f3e5f5;}
.bgPurple100 {background-color: #e1bee7;}
.bgPurple200 {background-color: #ce93d8;}
.bgPurple300 {background-color: #ba68c8;}
.bgPurple400 {background-color: #ab47bc;}
.bgPurple500 {background-color: #9c27b0;}
.bgPurple600 {background-color: #8e24aa;}
.bgPurple700 {background-color: #7b1fa2;}
.bgPurple800 {background-color: #6a1b9a;}
.bgPurple900 {background-color: #4a148c;}
.bgPurpleA100 {background-color: #ea80fc;}
.bgPurpleA200 {background-color: #e040fb;}
.bgPurpleA400 {background-color: #d500f9;}
.bgPurpleA700 {background-color: #aa00ff;}

/* Deep Purple */
.bgDeepPurple50 {background-color: #ede7f6;}
.bgDeepPurple100 {background-color: #d1c4e9;}
.bgDeepPurple200 {background-color: #b39ddb;}
.bgDeepPurple300 {background-color: #9575cd;}
.bgDeepPurple400 {background-color: #7e57c2;}
.bgDeepPurple500 {background-color: #673ab7;}
.bgDeepPurple600 {background-color: #5e35b1;}
.bgDeepPurple700 {background-color: #512da8;}
.bgDeepPurple800 {background-color: #4527a0;}
.bgDeepPurple900 {background-color: #311b92;}
.bgDeepPurpleA100 {background-color: #b388ff;}
.bgDeepPurpleA200 {background-color: #7c4dff;}
.bgDeepPurpleA400 {background-color: #651fff;}
.bgDeepPurpleA700 {background-color: #6200ea;}

/* Indigo */
.bgIndigo50 {background-color: #e8eaf6;}
.bgIndigo100 {background-color: #c5cae9;}
.bgIndigo200 {background-color: #9fa8da;}
.bgIndigo300 {background-color: #7986cb;}
.bgIndigo400 {background-color: #5c6bc0;}
.bgIndigo500 {background-color: #3f51b5;}
.bgIndigo600 {background-color: #3949ab;}
.bgIndigo700 {background-color: #303f9f;}
.bgIndigo800 {background-color: #283593;}
.bgIndigo900 {background-color: #1a237e;}
.bgIndigoA100 {background-color: #8c9eff;}
.bgIndigoA200 {background-color: #536dfe;}
.bgIndigoA400 {background-color: #3d5afe;}
.bgIndigoA700 {background-color: #304ffe;}

/* Blue */
.bgBlue50 {background-color: #e3f2fd;}
.bgBlue100 {background-color: #bbdefb;}
.bgBlue200 {background-color: #90caf9;}
.bgBlue300 {background-color: #64b5f6;}
.bgBlue400 {background-color: #42a5f5;}
.bgBlue500 {background-color: #2196f3;}
.bgBlue600 {background-color: #1e88e5;}
.bgBlue700 {background-color: #1976d2;}
.bgBlue800 {background-color: #1565c0;}
.bgBlue900 {background-color: #0d47a1;}
.bgBlueA100 {background-color: #82b1ff;}
.bgBlueA200 {background-color: #448aff;}
.bgBlueA400 {background-color: #2979ff;}
.bgBlueA700 {background-color: #2962ff;}

/* Light Blue */
.bgLightBlue50 {background-color: #e1f5fe;}
.bgLightBlue100 {background-color: #b3e5fc;}
.bgLightBlue200 {background-color: #81d4fa;}
.bgLightBlue300 {background-color: #4fc3f7;}
.bgLightBlue400 {background-color: #29b6f6;}
.bgLightBlue500 {background-color: #03a9f4;}
.bgLightBlue600 {background-color: #039be5;}
.bgLightBlue700 {background-color: #0288d1;}
.bgLightBlue800 {background-color: #0277bd;}
.bgLightBlue900 {background-color: #01579b;}
.bgLightBlueA100 {background-color: #80d8ff;}
.bgLightBlueA200 {background-color: #40c4ff;}
.bgLightBlueA400 {background-color: #00b0ff;}
.bgLightBlueA700 {background-color: #0091ea;}

/* Cyan */
.bgCyan50 {background-color: #e0f7fa;}
.bgCyan100 {background-color: #b2ebf2;}
.bgCyan200 {background-color: #80deea;}
.bgCyan300 {background-color: #4dd0e1;}
.bgCyan400 {background-color: #26c6da;}
.bgCyan500 {background-color: #00bcd4;}
.bgCyan600 {background-color: #00acc1;}
.bgCyan700 {background-color: #0097a7;}
.bgCyan800 {background-color: #00838f;}
.bgCyan900 {background-color: #006064;}
.bgCyanA100 {background-color: #84ffff;}
.bgCyanA200 {background-color: #18ffff;}
.bgCyanA400 {background-color: #00e5ff;}
.bgCyanA700 {background-color: #00b8d4;}

/* Teal */
.bgTeal50 {background-color: #e0f2f1;}
.bgTeal100 {background-color: #b2dfdb;}
.bgTeal200 {background-color: #80cbc4;}
.bgTeal300 {background-color: #4db6ac;}
.bgTeal400 {background-color: #26a69a;}
.bgTeal500 {background-color: #009688;}
.bgTeal600 {background-color: #00897b;}
.bgTeal700 {background-color: #00796b;}
.bgTeal800 {background-color: #00695c;}
.bgTeal900 {background-color: #004d40;}
.bgTealA100 {background-color: #a7ffeb;}
.bgTealA200 {background-color: #64ffda;}
.bgTealA400 {background-color: #1de9b6;}
.bgTealA700 {background-color: #00bfa5;}

/* Green */
.bgGreen50 {background-color: #e8f5e9;}
.bgGreen100 {background-color: #c8e6c9;}
.bgGreen200 {background-color: #a5d6a7;}
.bgGreen300 {background-color: #81c784;}
.bgGreen400 {background-color: #66bb6a;}
.bgGreen500 {background-color: #4caf50;}
.bgGreen600 {background-color: #43a047;}
.bgGreen700 {background-color: #388e3c;}
.bgGreen800 {background-color: #2e7d32;}
.bgGreen900 {background-color: #1b5e20;}
.bgGreenA100 {background-color: #b9f6ca;}
.bgGreenA200 {background-color: #69f0ae;}
.bgGreenA400 {background-color: #00e676;}
.bgGreenA700 {background-color: #00c853;}

/* Light Green */
.bgLightGreen50 {background-color: #f1f8e9;}
.bgLightGreen100 {background-color: #dcedc8;}
.bgLightGreen200 {background-color: #c5e1a5;}
.bgLightGreen300 {background-color: #aed581;}
.bgLightGreen400 {background-color: #9ccc65;}
.bgLightGreen500 {background-color: #8bc34a;}
.bgLightGreen600 {background-color: #7cb342;}
.bgLightGreen700 {background-color: #689f38;}
.bgLightGreen800 {background-color: #558b2f;}
.bgLightGreen900 {background-color: #33691e;}
.bgLightGreenA100 {background-color: #ccff90;}
.bgLightGreenA200 {background-color: #b2ff59;}
.bgLightGreenA400 {background-color: #76ff03;}
.bgLightGreenA700 {background-color: #64dd17;}

/* Lime */
.bgLime50 {background-color: #f9fbe7;}
.bgLime100 {background-color: #f0f4c3;}
.bgLime200 {background-color: #e6ee9c;}
.bgLime300 {background-color: #dce775;}
.bgLime400 {background-color: #d4e157;}
.bgLime500 {background-color: #cddc39;}
.bgLime600 {background-color: #c0ca33;}
.bgLime700 {background-color: #afb42b;}
.bgLime800 {background-color: #9e9d24;}
.bgLime900 {background-color: #827717;}
.bgLimeA100 {background-color: #f4ff81;}
.bgLimeA200 {background-color: #eeff41;}
.bgLimeA400 {background-color: #c6ff00;}
.bgLimeA700 {background-color: #aeea00;}

/* Yellow */
.bgYellow50 {background-color: #fffde7;}
.bgYellow100 {background-color: #fff9c4;}
.bgYellow200 {background-color: #fff59d;}
.bgYellow300 {background-color: #fff176;}
.bgYellow400 {background-color: #ffee58;}
.bgYellow500 {background-color: #ffeb3b;}
.bgYellow600 {background-color: #fdd835;}
.bgYellow700 {background-color: #fbc02d;}
.bgYellow800 {background-color: #f9a825;}
.bgYellow900 {background-color: #f57f17;}
.bgYellowA100 {background-color: #ffff8d;}
.bgYellowA200 {background-color: #ffff00;}
.bgYellowA400 {background-color: #ffea00;}
.bgYellowA700 {background-color: #ffd600;}

/* Amber */
.bgAmber50 {background-color: #fff8e1;}
.bgAmber100 {background-color: #ffecb3;}
.bgAmber200 {background-color: #ffe082;}
.bgAmber300 {background-color: #ffd54f;}
.bgAmber400 {background-color: #ffca28;}
.bgAmber500 {background-color: #ffc107;}
.bgAmber600 {background-color: #ffb300;}
.bgAmber700 {background-color: #ffa000;}
.bgAmber800 {background-color: #ff8f00;}
.bgAmber900 {background-color: #ff6f00;}
.bgAmberA100 {background-color: #ffe57f;}
.bgAmberA200 {background-color: #ffd740;}
.bgAmberA400 {background-color: #ffc400;}
.bgAmberA700 {background-color: #ffab00;}

/* Orange */
.bgOrange50 {background-color: #fff3e0;}
.bgOrange100 {background-color: #ffe0b2;}
.bgOrange200 {background-color: #ffcc80;}
.bgOrange300 {background-color: #ffb74d;}
.bgOrange400 {background-color: #ffa726;}
.bgOrange500 {background-color: #ff9800;}
.bgOrange600 {background-color: #fb8c00;}
.bgOrange700 {background-color: #f57c00;}
.bgOrange800 {background-color: #ef6c00;}
.bgOrange900 {background-color: #e65100;}
.bgOrangeA100 {background-color: #ffd180;}
.bgOrangeA200 {background-color: #ffab40;}
.bgOrangeA400 {background-color: #ff9100;}
.bgOrangeA700 {background-color: #ff6d00;}

/* Deep Orange */
.bgDeepOrange50 {background-color: #fbe9e7;}
.bgDeepOrange100 {background-color: #ffccbc;}
.bgDeepOrange200 {background-color: #ffab91;}
.bgDeepOrange300 {background-color: #ff8a65;}
.bgDeepOrange400 {background-color: #ff7043;}
.bgDeepOrange500 {background-color: #ff5722;}
.bgDeepOrange600 {background-color: #f4511e;}
.bgDeepOrange700 {background-color: #e64a19;}
.bgDeepOrange800 {background-color: #d84315;}
.bgDeepOrange900 {background-color: #bf360c;}
.bgDeepOrangeA100 {background-color: #ff9e80;}
.bgDeepOrangeA200 {background-color: #ff6e40;}
.bgDeepOrangeA400 {background-color: #ff3d00;}
.bgDeepOrangeA700 {background-color: #dd2c00;}

/* Brown */
.bgBrown50 {background-color: #efebe9;}
.bgBrown100 {background-color: #d7ccc8;}
.bgBrown200 {background-color: #bcaaa4;}
.bgBrown300 {background-color: #a1887f;}
.bgBrown400 {background-color: #8d6e63;}
.bgBrown500 {background-color: #795548;}
.bgBrown600 {background-color: #6d4c41;}
.bgBrown700 {background-color: #5d4037;}
.bgBrown800 {background-color: #4e342e;}
.bgBrown900 {background-color: #3e2723;}

/* Gray */
.bgGray50 {background-color: #fafafa;}
.bgGray100 {background-color: #f5f5f5;}
.bgGray200 {background-color: #eeeeee;}
.bgGray300 {background-color: #e0e0e0;}
.bgGray400 {background-color: #bdbdbd;}
.bgGray500 {background-color: #9e9e9e;}
.bgGray600 {background-color: #757575;}
.bgGray700 {background-color: #616161;}
.bgGray800 {background-color: #424242;}
.bgGray900 {background-color: #212121;}

/* Blue Gray */
.bgBlueGray50 {background-color: #eceff1;}
.bgBlueGray100 {background-color: #cfd8dc;}
.bgBlueGray200 {background-color: #b0bec5;}
.bgBlueGray300 {background-color: #90a4ae;}
.bgBlueGray400 {background-color: #78909c;}
.bgBlueGray500 {background-color: #607d8b;}
.bgBlueGray600 {background-color: #546e7a;}
.bgBlueGray700 {background-color: #455a64;}
.bgBlueGray800 {background-color: #37474f;}
.bgBlueGray900 {background-color: #263238;}

/* Black */
.bgBlack {background-color: #000000;}

/* White */
.bgWwhite {background-color: #FFFFFF;}



/* COLORS CSS - VARIABLES */
:root {
    --md-red-50: #ffebee;
    --md-red-100: #ffcdd2;
    --md-red-200: #ef9a9a;
    --md-red-300: #e57373;
    --md-red-400: #ef5350;
    --md-red-500: #f44336;
    --md-red-600: #e53935;
    --md-red-700: #d32f2f;
    --md-red-800: #c62828;
    --md-red-900: #b71c1c;
    --md-red-a100: #ff8a80;
    --md-red-a200: #ff5252;
    --md-red-a400: #ff1744;
    --md-red-a700: #d50000;
    
    --md-pink-50: #fce4ec;
    --md-pink-100: #f8bbd0;
    --md-pink-200: #f48fb1;
    --md-pink-300: #f06292;
    --md-pink-400: #ec407a;
    --md-pink-500: #e91e63;
    --md-pink-600: #d81b60;
    --md-pink-700: #c2185b;
    --md-pink-800: #ad1457;
    --md-pink-900: #880e4f;
    --md-pink-a100: #ff80ab;
    --md-pink-a200: #ff4081;
    --md-pink-a400: #f50057;
    --md-pink-a700: #c51162;
    
    --md-purple-50: #f3e5f5;
    --md-purple-100: #e1bee7;
    --md-purple-200: #ce93d8;
    --md-purple-300: #ba68c8;
    --md-purple-400: #ab47bc;
    --md-purple-500: #9c27b0;
    --md-purple-600: #8e24aa;
    --md-purple-700: #7b1fa2;
    --md-purple-800: #6a1b9a;
    --md-purple-900: #4a148c;
    --md-purple-a100: #ea80fc;
    --md-purple-a200: #e040fb;
    --md-purple-a400: #d500f9;
    --md-purple-a700: #aa00ff;
    
    --md-deep-purple-50: #ede7f6;
    --md-deep-purple-100: #d1c4e9;
    --md-deep-purple-200: #b39ddb;
    --md-deep-purple-300: #9575cd;
    --md-deep-purple-400: #7e57c2;
    --md-deep-purple-500: #673ab7;
    --md-deep-purple-600: #5e35b1;
    --md-deep-purple-700: #512da8;
    --md-deep-purple-800: #4527a0;
    --md-deep-purple-900: #311b92;
    --md-deep-purple-a100: #b388ff;
    --md-deep-purple-a200: #7c4dff;
    --md-deep-purple-a400: #651fff;
    --md-deep-purple-a700: #6200ea;
    
    --md-indigo-50: #e8eaf6;
    --md-indigo-100: #c5cae9;
    --md-indigo-200: #9fa8da;
    --md-indigo-300: #7986cb;
    --md-indigo-400: #5c6bc0;
    --md-indigo-500: #3f51b5;
    --md-indigo-600: #3949ab;
    --md-indigo-700: #303f9f;
    --md-indigo-800: #283593;
    --md-indigo-900: #1a237e;
    --md-indigo-a100: #8c9eff;
    --md-indigo-a200: #536dfe;
    --md-indigo-a400: #3d5afe;
    --md-indigo-a700: #304ffe;
    
    --md-blue-50: #e3f2fd;
    --md-blue-100: #bbdefb;
    --md-blue-200: #90caf9;
    --md-blue-300: #64b5f6;
    --md-blue-400: #42a5f5;
    --md-blue-500: #2196f3;
    --md-blue-600: #1e88e5;
    --md-blue-700: #1976d2;
    --md-blue-800: #1565c0;
    --md-blue-900: #0d47a1;
    --md-blue-a100: #82b1ff;
    --md-blue-a200: #448aff;
    --md-blue-a400: #2979ff;
    --md-blue-a700: #2962ff;
    
    --md-light-blue-50: #e1f5fe;
    --md-light-blue-100: #b3e5fc;
    --md-light-blue-200: #81d4fa;
    --md-light-blue-300: #4fc3f7;
    --md-light-blue-400: #29b6f6;
    --md-light-blue-500: #03a9f4;
    --md-light-blue-600: #039be5;
    --md-light-blue-700: #0288d1;
    --md-light-blue-800: #0277bd;
    --md-light-blue-900: #01579b;
    --md-light-blue-a100: #80d8ff;
    --md-light-blue-a200: #40c4ff;
    --md-light-blue-a400: #00b0ff;
    --md-light-blue-a700: #0091ea;
    
    --md-cyan-50: #e0f7fa;
    --md-cyan-100: #b2ebf2;
    --md-cyan-200: #80deea;
    --md-cyan-300: #4dd0e1;
    --md-cyan-400: #26c6da;
    --md-cyan-500: #00bcd4;
    --md-cyan-600: #00acc1;
    --md-cyan-700: #0097a7;
    --md-cyan-800: #00838f;
    --md-cyan-900: #006064;
    --md-cyan-a100: #84ffff;
    --md-cyan-a200: #18ffff;
    --md-cyan-a400: #00e5ff;
    --md-cyan-a700: #00b8d4;
    
    --md-teal-50: #e0f2f1;
    --md-teal-100: #b2dfdb;
    --md-teal-200: #80cbc4;
    --md-teal-300: #4db6ac;
    --md-teal-400: #26a69a;
    --md-teal-500: #009688;
    --md-teal-600: #00897b;
    --md-teal-700: #00796b;
    --md-teal-800: #00695c;
    --md-teal-900: #004d40;
    --md-teal-a100: #a7ffeb;
    --md-teal-a200: #64ffda;
    --md-teal-a400: #1de9b6;
    --md-teal-a700: #00bfa5;
    
    --md-green-50: #e8f5e9;
    --md-green-100: #c8e6c9;
    --md-green-200: #a5d6a7;
    --md-green-300: #81c784;
    --md-green-400: #66bb6a;
    --md-green-500: #4caf50;
    --md-green-600: #43a047;
    --md-green-700: #388e3c;
    --md-green-800: #2e7d32;
    --md-green-900: #1b5e20;
    --md-green-a100: #b9f6ca;
    --md-green-a200: #69f0ae;
    --md-green-a400: #00e676;
    --md-green-a700: #00c853;
    
    --md-light-green-50: #f1f8e9;
    --md-light-green-100: #dcedc8;
    --md-light-green-200: #c5e1a5;
    --md-light-green-300: #aed581;
    --md-light-green-400: #9ccc65;
    --md-light-green-500: #8bc34a;
    --md-light-green-600: #7cb342;
    --md-light-green-700: #689f38;
    --md-light-green-800: #558b2f;
    --md-light-green-900: #33691e;
    --md-light-green-a100: #ccff90;
    --md-light-green-a200: #b2ff59;
    --md-light-green-a400: #76ff03;
    --md-light-green-a700: #64dd17;
    
    --md-lime-50: #f9fbe7;
    --md-lime-100: #f0f4c3;
    --md-lime-200: #e6ee9c;
    --md-lime-300: #dce775;
    --md-lime-400: #d4e157;
    --md-lime-500: #cddc39;
    --md-lime-600: #c0ca33;
    --md-lime-700: #afb42b;
    --md-lime-800: #9e9d24;
    --md-lime-900: #827717;
    --md-lime-a100: #f4ff81;
    --md-lime-a200: #eeff41;
    --md-lime-a400: #c6ff00;
    --md-lime-a700: #aeea00;
    
    --md-yellow-50: #fffde7;
    --md-yellow-100: #fff9c4;
    --md-yellow-200: #fff59d;
    --md-yellow-300: #fff176;
    --md-yellow-400: #ffee58;
    --md-yellow-500: #ffeb3b;
    --md-yellow-600: #fdd835;
    --md-yellow-700: #fbc02d;
    --md-yellow-800: #f9a825;
    --md-yellow-900: #f57f17;
    --md-yellow-a100: #ffff8d;
    --md-yellow-a200: #ffff00;
    --md-yellow-a400: #ffea00;
    --md-yellow-a700: #ffd600;
    
    --md-amber-50: #fff8e1;
    --md-amber-100: #ffecb3;
    --md-amber-200: #ffe082;
    --md-amber-300: #ffd54f;
    --md-amber-400: #ffca28;
    --md-amber-500: #ffc107;
    --md-amber-600: #ffb300;
    --md-amber-700: #ffa000;
    --md-amber-800: #ff8f00;
    --md-amber-900: #ff6f00;
    --md-amber-a100: #ffe57f;
    --md-amber-a200: #ffd740;
    --md-amber-a400: #ffc400;
    --md-amber-a700: #ffab00;
    
    --md-orange-50: #fff3e0;
    --md-orange-100: #ffe0b2;
    --md-orange-200: #ffcc80;
    --md-orange-300: #ffb74d;
    --md-orange-400: #ffa726;
    --md-orange-500: #ff9800;
    --md-orange-600: #fb8c00;
    --md-orange-700: #f57c00;
    --md-orange-800: #ef6c00;
    --md-orange-900: #e65100;
    --md-orange-a100: #ffd180;
    --md-orange-a200: #ffab40;
    --md-orange-a400: #ff9100;
    --md-orange-a700: #ff6d00;
    
    --md-deep-orange-50: #fbe9e7;
    --md-deep-orange-100: #ffccbc;
    --md-deep-orange-200: #ffab91;
    --md-deep-orange-300: #ff8a65;
    --md-deep-orange-400: #ff7043;
    --md-deep-orange-500: #ff5722;
    --md-deep-orange-600: #f4511e;
    --md-deep-orange-700: #e64a19;
    --md-deep-orange-800: #d84315;
    --md-deep-orange-900: #bf360c;
    --md-deep-orange-a100: #ff9e80;
    --md-deep-orange-a200: #ff6e40;
    --md-deep-orange-a400: #ff3d00;
    --md-deep-orange-a700: #dd2c00;
    
    --md-brown-50: #efebe9;
    --md-brown-100: #d7ccc8;
    --md-brown-200: #bcaaa4;
    --md-brown-300: #a1887f;
    --md-brown-400: #8d6e63;
    --md-brown-500: #795548;
    --md-brown-600: #6d4c41;
    --md-brown-700: #5d4037;
    --md-brown-800: #4e342e;
    --md-brown-900: #3e2723;
    
    --md-grey-50: #fafafa;
    --md-grey-100: #f5f5f5;
    --md-grey-200: #eeeeee;
    --md-grey-300: #e0e0e0;
    --md-grey-400: #bdbdbd;
    --md-grey-500: #9e9e9e;
    --md-grey-600: #757575;
    --md-grey-700: #616161;
    --md-grey-800: #424242;
    --md-grey-900: #212121;
    
    --md-blue-grey-50: #eceff1;
    --md-blue-grey-100: #cfd8dc;
    --md-blue-grey-200: #b0bec5;
    --md-blue-grey-300: #90a4ae;
    --md-blue-grey-400: #78909c;
    --md-blue-grey-500: #607d8b;
    --md-blue-grey-600: #546e7a;
    --md-blue-grey-700: #455a64;
    --md-blue-grey-800: #37474f;
    --md-blue-grey-900: #263238;
    
    --md-black: #000000;
    
    --md-white: #ffffff;
    
    --md-dark-text-primary: rgba(0, 0, 0, 0.87);
    --md-dark-text-secondary: rgba(0, 0, 0, 0.54);
    --md-dark-text-disabled: rgba(0, 0, 0, 0.38);
    --md-dark-text-dividers: rgba(0, 0, 0, 0.12);
    
    --md-light-text-primary: rgba(255, 255, 255, 1);
    --md-light-text-secondary: rgba(255, 255, 255, 0.7);
    --md-light-text-disabled: rgba(255, 255, 255, 0.5);
    --md-light-text-dividers: rgba(255, 255, 255, 0.12);
    
    --md-dark-icons-active: rgba(0, 0, 0, 0.54);
    --md-dark-icons-inactive: rgba(0, 0, 0, 0.38);
    
    --md-light-icons-active: rgba(255, 255, 255, 1);
    --md-light-icons-inactive: rgba(255, 255, 255, 0.5);
    
}



/* TEXT COLORS */

/* COLOR CSS - CLASS */

/* Red */
.textRed50 {color: #ffebee;}
.textRed100 {color: #ffcdd2;}
.textRed200 {color: #ef9a9a;}
.textRed300 {color: #e57373;}
.textRed400 {color: #ef5350;}
.textRed500 {color: #f44336;}
.textRed600 {color: #e53935;}
.textRed700 {color: #d32f2f;}
.textRed800 {color: #c62828;}
.textRed900 {color: #b71c1c;}
.textRedA100 {color: #ff8a80;}
.textRedA200 {color: #ff5252;}
.textRedA400 {color: #ff1744;}
.textRedA700 {color: #d50000;}

/* Pink */
.textPink50 {color: #fce4ec;}
.textPink100 {color: #f8bbd0;}
.textPink200 {color: #f48fb1;}
.textPink300 {color: #f06292;}
.textPink400 {color: #ec407a;}
.textPink500 {color: #e91e63;}
.textPink600 {color: #d81b60;}
.textPink700 {color: #c2185b;}
.textPink800 {color: #ad1457;}
.textPink900 {color: #880e4f;}
.textPinkA100 {color: #ff80ab;}
.textPinkA200 {color: #ff4081;}
.textPinkA400 {color: #f50057;}
.textPinkA700 {color: #c51162;}

/* Purple */
.textPurple50 {color: #f3e5f5;}
.textPurple100 {color: #e1bee7;}
.textPurple200 {color: #ce93d8;}
.textPurple300 {color: #ba68c8;}
.textPurple400 {color: #ab47bc;}
.textPurple500 {color: #9c27b0;}
.textPurple600 {color: #8e24aa;}
.textPurple700 {color: #7b1fa2;}
.textPurple800 {color: #6a1b9a;}
.textPurple900 {color: #4a148c;}
.textPurpleA100 {color: #ea80fc;}
.textPurpleA200 {color: #e040fb;}
.textPurpleA400 {color: #d500f9;}
.textPurpleA700 {color: #aa00ff;}

/* Deep Purple */
.textDeepPurple50 {color: #ede7f6;}
.textDeepPurple100 {color: #d1c4e9;}
.textDeepPurple200 {color: #b39ddb;}
.textDeepPurple300 {color: #9575cd;}
.textDeepPurple400 {color: #7e57c2;}
.textDeepPurple500 {color: #673ab7;}
.textDeepPurple600 {color: #5e35b1;}
.textDeepPurple700 {color: #512da8;}
.textDeepPurple800 {color: #4527a0;}
.textDeepPurple900 {color: #311b92;}
.textDeepPurpleA100 {color: #b388ff;}
.textDeepPurpleA200 {color: #7c4dff;}
.textDeepPurpleA400 {color: #651fff;}
.textDeepPurpleA700 {color: #6200ea;}

/* Indigo */
.textIndigo50 {color: #e8eaf6;}
.textIndigo100 {color: #c5cae9;}
.textIndigo200 {color: #9fa8da;}
.textIndigo300 {color: #7986cb;}
.textIndigo400 {color: #5c6bc0;}
.textIndigo500 {color: #3f51b5;}
.textIndigo600 {color: #3949ab;}
.textIndigo700 {color: #303f9f;}
.textIndigo800 {color: #283593;}
.textIndigo900 {color: #1a237e;}
.textIndigoA100 {color: #8c9eff;}
.textIndigoA200 {color: #536dfe;}
.textIndigoA400 {color: #3d5afe;}
.textIndigoA700 {color: #304ffe;}

/* Blue */
.textBlue50 {color: #e3f2fd;}
.textBlue100 {color: #bbdefb;}
.textBlue200 {color: #90caf9;}
.textBlue300 {color: #64b5f6;}
.textBlue400 {color: #42a5f5;}
.textBlue500 {color: #2196f3;}
.textBlue600 {color: #1e88e5;}
.textBlue700 {color: #1976d2;}
.textBlue800 {color: #1565c0;}
.textBlue900 {color: #0d47a1;}
.textBlueA100 {color: #82b1ff;}
.textBlueA200 {color: #448aff;}
.textBlueA400 {color: #2979ff;}
.textBlueA700 {color: #2962ff;}

/* Light Blue */
.textLightBlue50 {color: #e1f5fe;}
.textLightBlue100 {color: #b3e5fc;}
.textLightBlue200 {color: #81d4fa;}
.textLightBlue300 {color: #4fc3f7;}
.textLightBlue400 {color: #29b6f6;}
.textLightBlue500 {color: #03a9f4;}
.textLightBlue600 {color: #039be5;}
.textLightBlue700 {color: #0288d1;}
.textLightBlue800 {color: #0277bd;}
.textLightBlue900 {color: #01579b;}
.textLightBlueA100 {color: #80d8ff;}
.textLightBlueA200 {color: #40c4ff;}
.textLightBlueA400 {color: #00b0ff;}
.textLightBlueA700 {color: #0091ea;}

/* Cyan */
.textCyan50 {color: #e0f7fa;}
.textCyan100 {color: #b2ebf2;}
.textCyan200 {color: #80deea;}
.textCyan300 {color: #4dd0e1;}
.textCyan400 {color: #26c6da;}
.textCyan500 {color: #00bcd4;}
.textCyan600 {color: #00acc1;}
.textCyan700 {color: #0097a7;}
.textCyan800 {color: #00838f;}
.textCyan900 {color: #006064;}
.textCyanA100 {color: #84ffff;}
.textCyanA200 {color: #18ffff;}
.textCyanA400 {color: #00e5ff;}
.textCyanA700 {color: #00b8d4;}

/* Teal */
.textTeal50 {color: #e0f2f1;}
.textTeal100 {color: #b2dfdb;}
.textTeal200 {color: #80cbc4;}
.textTeal300 {color: #4db6ac;}
.textTeal400 {color: #26a69a;}
.textTeal500 {color: #009688;}
.textTeal600 {color: #00897b;}
.textTeal700 {color: #00796b;}
.textTeal800 {color: #00695c;}
.textTeal900 {color: #004d40;}
.textTealA100 {color: #a7ffeb;}
.textTealA200 {color: #64ffda;}
.textTealA400 {color: #1de9b6;}
.textTealA700 {color: #00bfa5;}

/* Green */
.textGreen50 {color: #e8f5e9;}
.textGreen100 {color: #c8e6c9;}
.textGreen200 {color: #a5d6a7;}
.textGreen300 {color: #81c784;}
.textGreen400 {color: #66bb6a;}
.textGreen500 {color: #4caf50;}
.textGreen600 {color: #43a047;}
.textGreen700 {color: #388e3c;}
.textGreen800 {color: #2e7d32;}
.textGreen900 {color: #1b5e20;}
.textGreenA100 {color: #b9f6ca;}
.textGreenA200 {color: #69f0ae;}
.textGreenA400 {color: #00e676;}
.textGreenA700 {color: #00c853;}

/* Light Green */
.textLightGreen50 {color: #f1f8e9;}
.textLightGreen100 {color: #dcedc8;}
.textLightGreen200 {color: #c5e1a5;}
.textLightGreen300 {color: #aed581;}
.textLightGreen400 {color: #9ccc65;}
.textLightGreen500 {color: #8bc34a;}
.textLightGreen600 {color: #7cb342;}
.textLightGreen700 {color: #689f38;}
.textLightGreen800 {color: #558b2f;}
.textLightGreen900 {color: #33691e;}
.textLightGreenA100 {color: #ccff90;}
.textLightGreenA200 {color: #b2ff59;}
.textLightGreenA400 {color: #76ff03;}
.textLightGreenA700 {color: #64dd17;}

/* Lime */
.textLime50 {color: #f9fbe7;}
.textLime100 {color: #f0f4c3;}
.textLime200 {color: #e6ee9c;}
.textLime300 {color: #dce775;}
.textLime400 {color: #d4e157;}
.textLime500 {color: #cddc39;}
.textLime600 {color: #c0ca33;}
.textLime700 {color: #afb42b;}
.textLime800 {color: #9e9d24;}
.textLime900 {color: #827717;}
.textLimeA100 {color: #f4ff81;}
.textLimeA200 {color: #eeff41;}
.textLimeA400 {color: #c6ff00;}
.textLimeA700 {color: #aeea00;}

/* Yellow */
.textYellow50 {color: #fffde7;}
.textYellow100 {color: #fff9c4;}
.textYellow200 {color: #fff59d;}
.textYellow300 {color: #fff176;}
.textYellow400 {color: #ffee58;}
.textYellow500 {color: #ffeb3b;}
.textYellow600 {color: #fdd835;}
.textYellow700 {color: #fbc02d;}
.textYellow800 {color: #f9a825;}
.textYellow900 {color: #f57f17;}
.textYellowA100 {color: #ffff8d;}
.textYellowA200 {color: #ffff00;}
.textYellowA400 {color: #ffea00;}
.textYellowA700 {color: #ffd600;}

/* Amber */
.textAmber50 {color: #fff8e1;}
.textAmber100 {color: #ffecb3;}
.textAmber200 {color: #ffe082;}
.textAmber300 {color: #ffd54f;}
.textAmber400 {color: #ffca28;}
.textAmber500 {color: #ffc107;}
.textAmber600 {color: #ffb300;}
.textAmber700 {color: #ffa000;}
.textAmber800 {color: #ff8f00;}
.textAmber900 {color: #ff6f00;}
.textAmberA100 {color: #ffe57f;}
.textAmberA200 {color: #ffd740;}
.textAmberA400 {color: #ffc400;}
.textAmberA700 {color: #ffab00;}

/* Orange */
.textOrange50 {color: #fff3e0;}
.textOrange100 {color: #ffe0b2;}
.textOrange200 {color: #ffcc80;}
.textOrange300 {color: #ffb74d;}
.textOrange400 {color: #ffa726;}
.textOrange500 {color: #ff9800;}
.textOrange600 {color: #fb8c00;}
.textOrange700 {color: #f57c00;}
.textOrange800 {color: #ef6c00;}
.textOrange900 {color: #e65100;}
.textOrangeA100 {color: #ffd180;}
.textOrangeA200 {color: #ffab40;}
.textOrangeA400 {color: #ff9100;}
.textOrangeA700 {color: #ff6d00;}

/* Deep Orange */
.textDeepOrange50 {color: #fbe9e7;}
.textDeepOrange100 {color: #ffccbc;}
.textDeepOrange200 {color: #ffab91;}
.textDeepOrange300 {color: #ff8a65;}
.textDeepOrange400 {color: #ff7043;}
.textDeepOrange500 {color: #ff5722;}
.textDeepOrange600 {color: #f4511e;}
.textDeepOrange700 {color: #e64a19;}
.textDeepOrange800 {color: #d84315;}
.textDeepOrange900 {color: #bf360c;}
.textDeepOrangeA100 {color: #ff9e80;}
.textDeepOrangeA200 {color: #ff6e40;}
.textDeepOrangeA400 {color: #ff3d00;}
.textDeepOrangeA700 {color: #dd2c00;}

/* Brown */
.textBrown50 {color: #efebe9;}
.textBrown100 {color: #d7ccc8;}
.textBrown200 {color: #bcaaa4;}
.textBrown300 {color: #a1887f;}
.textBrown400 {color: #8d6e63;}
.textBrown500 {color: #795548;}
.textBrown600 {color: #6d4c41;}
.textBrown700 {color: #5d4037;}
.textBrown800 {color: #4e342e;}
.textBrown900 {color: #3e2723;}

/* Gray */
.textGray50 {color: #fafafa;}
.textGray100 {color: #f5f5f5;}
.textGray200 {color: #eeeeee;}
.textGray300 {color: #e0e0e0;}
.textGray400 {color: #bdbdbd;}
.textGray500 {color: #9e9e9e;}
.textGray600 {color: #757575;}
.textGray700 {color: #616161;}
.textGray800 {color: #424242;}
.textGray900 {color: #212121;}

/* Blue Gray */
.textBlueGray50 {color: #eceff1;}
.textBlueGray100 {color: #cfd8dc;}
.textBlueGray200 {color: #b0bec5;}
.textBlueGray300 {color: #90a4ae;}
.textBlueGray400 {color: #78909c;}
.textBlueGray500 {color: #607d8b;}
.textBlueGray600 {color: #546e7a;}
.textBlueGray700 {color: #455a64;}
.textBlueGray800 {color: #37474f;}
.textBlueGray900 {color: #263238;}

/* Black */
.textBlack {color: #000000;}

/* White */
.textWhite {color: #FFFFFF;}



/* COLORS CSS - VARIABLES */
:root {
    --md-red-50: #ffebee;
    --md-red-100: #ffcdd2;
    --md-red-200: #ef9a9a;
    --md-red-300: #e57373;
    --md-red-400: #ef5350;
    --md-red-500: #f44336;
    --md-red-600: #e53935;
    --md-red-700: #d32f2f;
    --md-red-800: #c62828;
    --md-red-900: #b71c1c;
    --md-red-a100: #ff8a80;
    --md-red-a200: #ff5252;
    --md-red-a400: #ff1744;
    --md-red-a700: #d50000;
    
    --md-pink-50: #fce4ec;
    --md-pink-100: #f8bbd0;
    --md-pink-200: #f48fb1;
    --md-pink-300: #f06292;
    --md-pink-400: #ec407a;
    --md-pink-500: #e91e63;
    --md-pink-600: #d81b60;
    --md-pink-700: #c2185b;
    --md-pink-800: #ad1457;
    --md-pink-900: #880e4f;
    --md-pink-a100: #ff80ab;
    --md-pink-a200: #ff4081;
    --md-pink-a400: #f50057;
    --md-pink-a700: #c51162;
    
    --md-purple-50: #f3e5f5;
    --md-purple-100: #e1bee7;
    --md-purple-200: #ce93d8;
    --md-purple-300: #ba68c8;
    --md-purple-400: #ab47bc;
    --md-purple-500: #9c27b0;
    --md-purple-600: #8e24aa;
    --md-purple-700: #7b1fa2;
    --md-purple-800: #6a1b9a;
    --md-purple-900: #4a148c;
    --md-purple-a100: #ea80fc;
    --md-purple-a200: #e040fb;
    --md-purple-a400: #d500f9;
    --md-purple-a700: #aa00ff;
    
    --md-deep-purple-50: #ede7f6;
    --md-deep-purple-100: #d1c4e9;
    --md-deep-purple-200: #b39ddb;
    --md-deep-purple-300: #9575cd;
    --md-deep-purple-400: #7e57c2;
    --md-deep-purple-500: #673ab7;
    --md-deep-purple-600: #5e35b1;
    --md-deep-purple-700: #512da8;
    --md-deep-purple-800: #4527a0;
    --md-deep-purple-900: #311b92;
    --md-deep-purple-a100: #b388ff;
    --md-deep-purple-a200: #7c4dff;
    --md-deep-purple-a400: #651fff;
    --md-deep-purple-a700: #6200ea;
    
    --md-indigo-50: #e8eaf6;
    --md-indigo-100: #c5cae9;
    --md-indigo-200: #9fa8da;
    --md-indigo-300: #7986cb;
    --md-indigo-400: #5c6bc0;
    --md-indigo-500: #3f51b5;
    --md-indigo-600: #3949ab;
    --md-indigo-700: #303f9f;
    --md-indigo-800: #283593;
    --md-indigo-900: #1a237e;
    --md-indigo-a100: #8c9eff;
    --md-indigo-a200: #536dfe;
    --md-indigo-a400: #3d5afe;
    --md-indigo-a700: #304ffe;
    
    --md-blue-50: #e3f2fd;
    --md-blue-100: #bbdefb;
    --md-blue-200: #90caf9;
    --md-blue-300: #64b5f6;
    --md-blue-400: #42a5f5;
    --md-blue-500: #2196f3;
    --md-blue-600: #1e88e5;
    --md-blue-700: #1976d2;
    --md-blue-800: #1565c0;
    --md-blue-900: #0d47a1;
    --md-blue-a100: #82b1ff;
    --md-blue-a200: #448aff;
    --md-blue-a400: #2979ff;
    --md-blue-a700: #2962ff;
    
    --md-light-blue-50: #e1f5fe;
    --md-light-blue-100: #b3e5fc;
    --md-light-blue-200: #81d4fa;
    --md-light-blue-300: #4fc3f7;
    --md-light-blue-400: #29b6f6;
    --md-light-blue-500: #03a9f4;
    --md-light-blue-600: #039be5;
    --md-light-blue-700: #0288d1;
    --md-light-blue-800: #0277bd;
    --md-light-blue-900: #01579b;
    --md-light-blue-a100: #80d8ff;
    --md-light-blue-a200: #40c4ff;
    --md-light-blue-a400: #00b0ff;
    --md-light-blue-a700: #0091ea;
    
    --md-cyan-50: #e0f7fa;
    --md-cyan-100: #b2ebf2;
    --md-cyan-200: #80deea;
    --md-cyan-300: #4dd0e1;
    --md-cyan-400: #26c6da;
    --md-cyan-500: #00bcd4;
    --md-cyan-600: #00acc1;
    --md-cyan-700: #0097a7;
    --md-cyan-800: #00838f;
    --md-cyan-900: #006064;
    --md-cyan-a100: #84ffff;
    --md-cyan-a200: #18ffff;
    --md-cyan-a400: #00e5ff;
    --md-cyan-a700: #00b8d4;
    
    --md-teal-50: #e0f2f1;
    --md-teal-100: #b2dfdb;
    --md-teal-200: #80cbc4;
    --md-teal-300: #4db6ac;
    --md-teal-400: #26a69a;
    --md-teal-500: #009688;
    --md-teal-600: #00897b;
    --md-teal-700: #00796b;
    --md-teal-800: #00695c;
    --md-teal-900: #004d40;
    --md-teal-a100: #a7ffeb;
    --md-teal-a200: #64ffda;
    --md-teal-a400: #1de9b6;
    --md-teal-a700: #00bfa5;
    
    --md-green-50: #e8f5e9;
    --md-green-100: #c8e6c9;
    --md-green-200: #a5d6a7;
    --md-green-300: #81c784;
    --md-green-400: #66bb6a;
    --md-green-500: #4caf50;
    --md-green-600: #43a047;
    --md-green-700: #388e3c;
    --md-green-800: #2e7d32;
    --md-green-900: #1b5e20;
    --md-green-a100: #b9f6ca;
    --md-green-a200: #69f0ae;
    --md-green-a400: #00e676;
    --md-green-a700: #00c853;
    
    --md-light-green-50: #f1f8e9;
    --md-light-green-100: #dcedc8;
    --md-light-green-200: #c5e1a5;
    --md-light-green-300: #aed581;
    --md-light-green-400: #9ccc65;
    --md-light-green-500: #8bc34a;
    --md-light-green-600: #7cb342;
    --md-light-green-700: #689f38;
    --md-light-green-800: #558b2f;
    --md-light-green-900: #33691e;
    --md-light-green-a100: #ccff90;
    --md-light-green-a200: #b2ff59;
    --md-light-green-a400: #76ff03;
    --md-light-green-a700: #64dd17;
    
    --md-lime-50: #f9fbe7;
    --md-lime-100: #f0f4c3;
    --md-lime-200: #e6ee9c;
    --md-lime-300: #dce775;
    --md-lime-400: #d4e157;
    --md-lime-500: #cddc39;
    --md-lime-600: #c0ca33;
    --md-lime-700: #afb42b;
    --md-lime-800: #9e9d24;
    --md-lime-900: #827717;
    --md-lime-a100: #f4ff81;
    --md-lime-a200: #eeff41;
    --md-lime-a400: #c6ff00;
    --md-lime-a700: #aeea00;
    
    --md-yellow-50: #fffde7;
    --md-yellow-100: #fff9c4;
    --md-yellow-200: #fff59d;
    --md-yellow-300: #fff176;
    --md-yellow-400: #ffee58;
    --md-yellow-500: #ffeb3b;
    --md-yellow-600: #fdd835;
    --md-yellow-700: #fbc02d;
    --md-yellow-800: #f9a825;
    --md-yellow-900: #f57f17;
    --md-yellow-a100: #ffff8d;
    --md-yellow-a200: #ffff00;
    --md-yellow-a400: #ffea00;
    --md-yellow-a700: #ffd600;
    
    --md-amber-50: #fff8e1;
    --md-amber-100: #ffecb3;
    --md-amber-200: #ffe082;
    --md-amber-300: #ffd54f;
    --md-amber-400: #ffca28;
    --md-amber-500: #ffc107;
    --md-amber-600: #ffb300;
    --md-amber-700: #ffa000;
    --md-amber-800: #ff8f00;
    --md-amber-900: #ff6f00;
    --md-amber-a100: #ffe57f;
    --md-amber-a200: #ffd740;
    --md-amber-a400: #ffc400;
    --md-amber-a700: #ffab00;
    
    --md-orange-50: #fff3e0;
    --md-orange-100: #ffe0b2;
    --md-orange-200: #ffcc80;
    --md-orange-300: #ffb74d;
    --md-orange-400: #ffa726;
    --md-orange-500: #ff9800;
    --md-orange-600: #fb8c00;
    --md-orange-700: #f57c00;
    --md-orange-800: #ef6c00;
    --md-orange-900: #e65100;
    --md-orange-a100: #ffd180;
    --md-orange-a200: #ffab40;
    --md-orange-a400: #ff9100;
    --md-orange-a700: #ff6d00;
    
    --md-deep-orange-50: #fbe9e7;
    --md-deep-orange-100: #ffccbc;
    --md-deep-orange-200: #ffab91;
    --md-deep-orange-300: #ff8a65;
    --md-deep-orange-400: #ff7043;
    --md-deep-orange-500: #ff5722;
    --md-deep-orange-600: #f4511e;
    --md-deep-orange-700: #e64a19;
    --md-deep-orange-800: #d84315;
    --md-deep-orange-900: #bf360c;
    --md-deep-orange-a100: #ff9e80;
    --md-deep-orange-a200: #ff6e40;
    --md-deep-orange-a400: #ff3d00;
    --md-deep-orange-a700: #dd2c00;
    
    --md-brown-50: #efebe9;
    --md-brown-100: #d7ccc8;
    --md-brown-200: #bcaaa4;
    --md-brown-300: #a1887f;
    --md-brown-400: #8d6e63;
    --md-brown-500: #795548;
    --md-brown-600: #6d4c41;
    --md-brown-700: #5d4037;
    --md-brown-800: #4e342e;
    --md-brown-900: #3e2723;
    
    --md-grey-50: #fafafa;
    --md-grey-100: #f5f5f5;
    --md-grey-200: #eeeeee;
    --md-grey-300: #e0e0e0;
    --md-grey-400: #bdbdbd;
    --md-grey-500: #9e9e9e;
    --md-grey-600: #757575;
    --md-grey-700: #616161;
    --md-grey-800: #424242;
    --md-grey-900: #212121;
    
    --md-blue-grey-50: #eceff1;
    --md-blue-grey-100: #cfd8dc;
    --md-blue-grey-200: #b0bec5;
    --md-blue-grey-300: #90a4ae;
    --md-blue-grey-400: #78909c;
    --md-blue-grey-500: #607d8b;
    --md-blue-grey-600: #546e7a;
    --md-blue-grey-700: #455a64;
    --md-blue-grey-800: #37474f;
    --md-blue-grey-900: #263238;
    
    --md-black: #000000;
    
    --md-white: #ffffff;
    
    --md-dark-text-primary: rgba(0, 0, 0, 0.87);
    --md-dark-text-secondary: rgba(0, 0, 0, 0.54);
    --md-dark-text-disabled: rgba(0, 0, 0, 0.38);
    --md-dark-text-dividers: rgba(0, 0, 0, 0.12);
    
    --md-light-text-primary: rgba(255, 255, 255, 1);
    --md-light-text-secondary: rgba(255, 255, 255, 0.7);
    --md-light-text-disabled: rgba(255, 255, 255, 0.5);
    --md-light-text-dividers: rgba(255, 255, 255, 0.12);
    
    --md-dark-icons-active: rgba(0, 0, 0, 0.54);
    --md-dark-icons-inactive: rgba(0, 0, 0, 0.38);
    
    --md-light-icons-active: rgba(255, 255, 255, 1);
    --md-light-icons-inactive: rgba(255, 255, 255, 0.5);
    
}




:host {
  display: block;
}

/* Button base */
button {
  font-size: 0.9rem;
  padding: .5rem 1.5rem;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
  color: #fff;
}

button:hover {
  background-color: #03A9F4;
}

