
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test IP - API</title>

    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>

    <div class="contapi">
        <h4 class="contapi__title"> TEST IP - API </h4>

        <form id="contapi__form-ip" action="">
            <label for="" class="contapi__subtitle">
                User IP
                <input id="input-ip" type="text" placeholder="into ip here" />
            </label>
            <button ip="button-ip" type="submit" class="contapi__button"> Test IP </button>
        </form>
    </div>
    
</body>
</html>