

/* ===== MENU ===== */
.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #AEEA00;
}

.menu--ul {
    display: flex;
    justify-content: space-between;
}

.menu--li {
    margin: 0 7px;
    list-style: none;
}

.menu--a {
    text-decoration: none;
    font-weight: 400;
}



/* ===== ASIDE ===== */
.aside-left {
    background-color: #424242;
}

